{{extend '../layouts/layouts.html'}}

{{block 'body'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>我的个人资料</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">头像</label>
      <div class="col-sm-6">
        <label class="form-image">
          <input id="avatar" type="file" class="admin_pic">
          <input  type="hidden" id="hidden" name="pic">
          <img src="{{admin_pic}}" id="pic">
          <i class="mask fa fa-upload"></i>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">邮箱</label>
      <div class="col-sm-6">
        <input id="email" class="form-control" name="email" type="type" value="{{admin_email}}" placeholder="邮箱" readonly>
        <!-- <input type="hidden" name="oldpwd" value="{{admin_pwd}}"> -->
        <p class="help-block">登录邮箱不允许修改</p>
      </div>
    </div>
    <div class="form-group">
      <label for="nickname" class="col-sm-3 control-label">昵称</label>
      <div class="col-sm-6">
        <input id="nickname" class="form-control" name="nickname" type="type" value="{{admin_nickname}}" placeholder="昵称">
        <p class="help-block">限制在 2-16 个字符</p>
      </div>
    </div>
    <div class="form-group">
      <label for="bio" class="col-sm-3 control-label">简介</label>
      <div class="col-sm-6">
        <textarea id="bio" class="form-control" name="sign" placeholder="Bio" cols="30" rows="6">{{admin_sign}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" class="btn btn-primary">更新</button>
        <a class="btn btn-link" href="javascript:;" id="editPwd">修改密码</a>
      </div>
    </div>
  </form>
</div>
{{/block}}
{{block 'js'}}
<script>
  /*ajax上传头像：使用change事件，为啥？触发ajax请求？创建表单对象，formData是否必须要设置name属性？？？
  其中的files属性能得到刚刚上传的文件，一起发送到后端
  *更改img的路径，（使用files属性还是传回来的msg.path）
  更新管理员信息，使用serilelize???发送后端,管理员头像如何获取？.
  */
  $('.admin_pic').change(function(){
    var formData = new FormData();
    var pic = $(this)[0].files[0];
    formData.append('avatar',pic)
    $.ajax({
      url:'/api/uploads',
      type:'post',
      contentType:false,
      processData:false,
      data:formData,
      success:function(msg){
        layer.msg(msg.message);
        if(msg.code==200){
          $('#pic').attr({src:msg.path});
          $('#hidden').val(msg.path);
        }
      }
    });
  });
  $('.btn-primary').click(function(){
    $.ajax({
      url:'/api/center/personal',
      type:'post',
      data:$('.form-horizontal').serialize(),
      success:function(msg){
        layer.alert(msg.message,{title:'',closeBtn:0},function(){
          if(msg.code==200){
            location.href='/admin/index';
          }
        })
      }
    });
  });
  // 修改密码
  $('#editPwd').click(function(){
    layer.ready(function(){ 
    layer.open({
      type: 2,
      title: '密码修改页',
      maxmin: true,
      area: ['800px', '500px'],
      content: '/admin/center/password_reset'
      });
    });
  });

</script>
{{/block}}